<section class="animate__animated animate__fadeIn relative">
    <p class="page-title">
        <span>ALL PAYABLES</span>
    </p>
    <hr class="my-10">
    
    
     <div >
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                        <th style="width:10px">s/n</th>
                        <th>Supplier</th>
                        <th>total Debit</th>
                        <th>total Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody id="tabledata">
                   <tr>
                        <td colspan="100%" class="text-center opacity-70"> Table is empty</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-status"></div>
    </div>

        </section> 