<section>
        <div class="mx-auto w-full rounded px-12 py-14 drop-shadow-sm xl:border xl:bg-white">
            <h1 class="text-center text-2xl font-bold">Change Password</h1>
            <p class="text-2xs mt-5 text-center font-sans leading-relaxed tracking-wider text-gray-400">It happens. The good thing is we can reset it</p>
            
            <!-- Message Display Area -->
            <div id="message-container"></div>
            
            <form class="mt-10" id="changepasswordform">
                <div class="mx-auto max-w-[400px] space-y-6">
                    <!-- Old Password Field -->
                    <div class="form-group-auth relative">
                        <label for="" class="">Current Password</label>
                        <input name="oldpassword" id="oldpassword" class="form-control comp" placeholder="Enter your old password" type="password" required
                            class="w-full border-b-2 border-gray-300 bg-transparent py-2 pr-10 text-sm font-semibold transition duration-300 ease-linear placeholder:text-xs placeholder:text-gray-500 focus:border-primary-g focus:outline-none focus:ring-0">
                        <span class="material-symbols-outlined absolute right-2 top-1/2 -translate-y-1 transform cursor-pointer text-gray-500" onclick="togglePasswordVisibility('oldpassword', this)">
                            visibility_off
                        </span>
                    </div>
                   
                    <!-- <div class="w-full border-b-2 border-gray-300 bg-transparent py-2 pr-10 text-sm font-semibold transition duration-300 ease-linear placeholder:text-xs placeholder:text-gray-500 focus:border-primary-g focus:outline-none focus:ring-0">
                        <span class="material-symbols-outlined absolute right-2 top-1/2 -translate-y-1 transform cursor-pointer text-gray-500" onclick="togglePasswordVisibility('newpassword', this)">
                            visibility_off
                        </span>
                    </div> -->
                    <div class="form-group-auth relative">
                        <label for="" class="">Confirm New Password</label>
                        <input name="confirmpassword" id="confirmpassword" class="form-control comp" placeholder="Confirm your new password" type="password" required
                            class="w-full border-b-2 border-gray-300 bg-transparent py-2 pr-10 text-sm font-semibold transition duration-300 ease-linear placeholder:text-xs placeholder:text-gray-500 focus:border-primary-g focus:outline-none focus:ring-0">
                        <span class="material-symbols-outlined absolute right-2 top-1/2 -translate-y-1 transform cursor-pointer text-gray-500" onclick="togglePasswordVisibility('confirmpassword', this)">
                            visibility_off
                        </span>
                    </div>
                    
                    <!-- Buttons Section -->
                    <div class="mt-5 flex justify-end"> 
                        <button id="submit" type="button" class="btn">
                            <div class="btnloader" style="display: none;"></div>
                            <span>Change Password</span>
                        </button>
                        <!--<button id="submit" type="button" class="flex w-full items-center justify-center gap-3 rounded-md bg-gradient-to-tr from-blue-400 via-blue-500 to-primary-g px-8 py-3 text-sm font-medium capitalize text-white shadow-md transition duration-300 ease-in-out hover:opacity-75 md:w-max lg:py-2">-->
                        <!--    <div class="btnloader" style="display: none;"></div>-->
                        <!--    <span>Submit</span>-->
                        <!--</button>-->
                    </div>
                </div>
            </form>
        </div>
    </section>
