<div class="animate__animated animate__fadeIn relative">
  <p class="page-title">
    <span>DEPARTMENT</span>
  </p>

  <ul
    class="flex flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500 dark:border-gray-700 dark:text-gray-400"
  >
    <li
      class="cp viewer optioner active me-2 !text-blue-600"
      name="viewdepartment"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        View Department
      </p>
    </li>
    <li
      class="cp updater optioner me-2"
      name="departmentform"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        Manage Department
      </p>
    </li>
  </ul>

  <form id="departmentform" class="hidden">
    <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 xl:p-10">
      <div class="form-group">
        <label for="department" class="control-label">Department</label>
        <input
          type="text"
          name="department"
          id="department"
          class="form-control comp"
          placeholder="Enter Department Name"
        />
      </div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
          <div class="form-group">
            <label for="category" class="control-label">Category</label>
            <select name="category" id="category" class="form-control comp">
              <option value="">-- SELECT CATEGORY --</option>
              <option>OFFICE</option>
              <option>STORE</option>
              <option>IT</option>
              <option>MOBILE UNIT</option>
              <option disabled>OTHER</option>
            </select>
          </div>

          <div class="form-group">
            <label for="applyforsales" class="control-label"
              >Apply for Sales</label
            >
            <select
              name="applyforsales"
              id="applyforsales"
              class="form-control comp"
            >
              <option value="JUST DEPARTMENT">JUST DEPARTMENT</option>
              <option value="STOCK">STOCK</option>
              <option value="NON STOCK">NON STOCK</option>
            </select>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
          <div class="form-group">
            <label for="branch" class="control-label">Branch</label>
            <select name="branch" id="branch" class="form-controls comp">
              <option value="">-- select branch --</option>
            </select>
          </div>

          <div class="form-group">
            <label for="userid" class="control-label">Supervisor</label>
            <select name="userid" id="userid" class="form-controls">
              <option value="">-- select user --</option>
            </select>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
          <div></div>
          <div></div>
          <div class="mt-5 flex justify-end">
            <button id="submit" type="button" class="btn">
              <div class="btnloader" style="display: none"></div>
              <span>Submit</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-10" />
  </form>

  <div id="viewdepartment">
    <form id="departmentfilterform" class="">
      <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
        <div class="form-group">
          <label for="q" class="control-label">Enter any data in mind</label>
          <input
            type="text"
            name="q"
            id="q"
            class="form-control comp bg-white"
            placeholder="Enter Query"
          />
        </div>
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
          <div class="form-group">
            <label for="filter-branch" class="control-label">Branch</label>
            <select
              name="filter-branch"
              id="filter-branch"
              class="form-controls comp1"
            >
              <option value="" disabled selected>-- Select Branch --</option>
              <!-- Add options here -->
            </select>
          </div>

          <div class="form-group">
            <label for="userid" class="control-label">Supervisor</label>
            <select
              name="userid"
              id="filteruserid"
              class="form-controls"
              placeholder="Enter Supervisor"
            ></select>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
          <div></div>
          <div></div>
          <div class="mt-5 flex justify-end">
            <button id="filter" type="button" class="btn">
              <div class="btnloader" style="display: none"></div>
              <span>Search</span>
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="table-content">
      <table>
        <thead>
          <tr>
            <th style="width: 10px">s/n</th>
            <th>Department Name</th>
            <th>catgory</th>
            <th>apply for sales</th>
            <th>Branch</th>
            <th>SUPERVISOR</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tabledata">
          <tr>
            <td colspan="100%" class="text-center opacity-70">
              Table is empty
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-status"></div>
  </div>
</div>
