<section class="animate__animated animate__fadeIn relative">
  <p class="page-title">
    <span>Guarantor Information</span>
  </p>

  <!-- here is the tab navigation -->
  <ul
    class="cark:border-gray-700 cark:text-gray-400 flex flex-wrap border-b border-gray-200 text-center text-sm font-medium text-gray-500"
  >
    <li
      class="cp viewer optioner active me-2 !text-blue-600"
      name="viewguarantor"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        View Guarantor
      </p>
    </li>
    <li
      id=""
      class="cp updater optioner me-2"
      name="guarantorform"
      onclick="runoptioner(this)"
    >
      <p
        class="inline-block rounded-t-lg p-4 capitalize hover:bg-gray-50 hover:text-gray-600"
      >
        Manage Guarantor
      </p>
    </li>
  </ul>

  <form id="guarantorform" class="hidden">
    <div class="flex flex-col space-y-3 rounded-sm bg-white/90 p-5 xl:p-10">
      <div class="form-group">
          <label for="userid" class="control-label">User</label>
          <select name="userid" id="userid" class="form-controls">
              <option value="">Select User</option>
              <!-- Options will be dynamically generated -->
          </select>
          <datalist id="useridlist"></datalist>
      </div>

      <div class="form-group">
        <label for="guarantorname" class="control-label">Guarantor Name</label>
        <input
          type="text"
          name="guarantorname"
          id="guarantorname"
          class="form-control comp"
          placeholder="Enter Guarantor Name"
        />
      </div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <div class="form-group">
          <label for="guarantorofficeaddress" class="control-label">Office Address</label>
          <input
            type="text"
            name="guarantorofficeaddress"
            id="guarantorofficeaddress"
            class="form-control comp"
            placeholder="Enter Office Address"
          />
        </div>
        <div class="form-group">
          <label for="guarantorresidentialaddress" class="control-label">Residential Address</label>
          <input
            type="text"
            name="guarantorresidentialaddress"
            id="guarantorresidentialaddress"
            class="form-control comp"
            placeholder="Enter Residential Address"
          />
        </div>
        <div class="form-group">
          <label for="guarantoroccupation" class="control-label">Occupation</label>
          <input
            type="text"
            name="guarantoroccupation"
            id="guarantoroccupation"
            class="form-control comp"
            placeholder="Enter Occupation"
          />
        </div>
        <div class="form-group">
          <label for="guarantorphone" class="control-label">Phone</label>
          <input
            type="text"
            name="guarantorphone"
            id="guarantorphone"
            class="form-control comp"
            placeholder="Enter Phone Number"
          />
        </div>
        <div class="form-group">
          <div class="mt-3"></div>
          <label for="imageone" class="control-label">Image One</label>
          <div title="Click to update image one" class="cp relative">
            <img
              id="imageOnePreview"
              alt="Image One Preview"
              class="h-[200px] w-[200px] rounded-full border-none shadow-xl shadow-[#CCE6FF]"
              onclick="document.getElementById('imageone').click()"
              src="./images/defaultcompany.png"
            />
            <span
              class="absolute bottom-0 right-[50px] cursor-pointer rounded-full bg-white p-1 shadow-xl"
              onclick="document.getElementById('imageone').click()"
            >
              <span class="material-symbols-outlined h-6 w-6 text-gray-500">edit</span>
            </span>
          </div>
          <input
            type="file"
            name="imageone"
            id="imageone"
            class="form-control hidden"
            accept="image/*"
            onchange="updateImage(event, 'imageOnePreview')"
          />
        </div>
        <div class="form-group">
          <div class="mt-3"></div>
          <label for="imagetwo" class="control-label">Image Two</label>
          <div title="Click to update image two" class="cp relative">
            <img
              id="imageTwoPreview"
              alt="Image Two Preview"
              class="h-[200px] w-[200px] rounded-full border-none shadow-xl shadow-[#CCE6FF]"
              onclick="document.getElementById('imagetwo').click()"
              src="./images/defaultcompany.png"
            />
            <span
              class="absolute bottom-0 right-[50px] cursor-pointer rounded-full bg-white p-1 shadow-xl"
              onclick="document.getElementById('imagetwo').click()"
            >
              <span class="material-symbols-outlined h-6 w-6 text-gray-500">edit</span>
            </span>
          </div>
          <input
            type="file"
            name="imagetwo"
            id="imagetwo"
            class="form-control hidden"
            accept="image/*"
            onchange="updateImage(event, 'imageTwoPreview')"
          />
        </div>
        <div class="form-group">
          <label for="yearsknown" class="control-label">Years Known</label>
          <input
            type="number"
            name="yearsknown"
            id="yearsknown"
            class="form-control comp"
            placeholder="Enter Years Known"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
        <div></div>
        <div></div>
        <div class="mt-5 flex justify-end">
          <button id="submit" type="button" class="btn">
            <div class="btnloader" style="display: none"></div>
            <span>Submit</span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="" id="viewguarantor">
    <form id="viewguarantorForm" class="">
      <div class="flex flex-col space-y-3 rounded-sm bg-blue-100 p-5 xl:p-10">
          <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
              <div class="form-group col-span-3">
                  <label for="queryGuarantor" class="control-label">Search</label>
                  <input type="text" name="q" id="q" class="form-control comp bg-white" placeholder="Search by anything">
              </div>
              <div class="mt-5 flex justify-end">
                  <button id="querySubmit" type="button" class="btn">
                      <div class="btnloader" style="display: none;"></div>
                      <span>Search</span>
                  </button>
              </div>
          </div>
      </div>
  </form>
    <div class="table-content">
      <table class="table-auto">
        <thead>
          <tr>
            <th style="width: 10px">s/n</th>
            <th>Guarantor Name</th>
            <th>Office Address</th>
            <th>Residential Address</th>
            <th>Occupation</th>
            <th>Phone</th>
            <th>Years Known</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="tabledata">
          <tr>
            <td colspan="100%" class="text-center opacity-70">
              Table is empty
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-status"></div>
  </div>
</section>
