<section class="bg-gray-100 font-sans">
    <div class="container mx-auto p-6">
        <!-- Header -->
        <h1 class="mb-6 text-2xl font-bold text-gray-800">Missed Property Maturity</h1>

        <div class="table-content">
            <!--<p class="text-md font-semibold">Balance Brought Forward(B/F): <span id="bbf"></span></p>-->
            <table class="table-auto">
              <thead>
                <tr>
                    <th>S/N</th>
                    <th>Item Name</th>
                    <th>Account Number</th>
                    <th>Due Date</th>
                    <th>Pending Balance</th>
                    <th>Total Paid</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody id="tabledata">
                <tr>
                  <td colspan="100%" class="text-center opacity-70">
                    Table is empty
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-status"></div>
    </div>
</section>