<section class="animate__animated animate__fadeIn relative">
    <p class="page-title">
        <span>your referrals</span>
    </p>

    
     <div class="" id="viewyourreferrals">
        <div class="table-content">
            <!--<p class="text-md font-semibold">Balance Brought Forward(B/F): <span id="bbf"></span></p>-->
            <table class="table-auto">
                <thead>
                    <tr>
                        <th style="width:10px">s/n</th>
                        <th>date added</th>
                        <th>full names</th>
                        <th>branch</th>
                        <th>country</th>
                        <th>state</th>
                        <th>address</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody id="tabledata">
                   <tr>
                        <td colspan="100%" class="text-center opacity-70"> Table is empty</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-status"></div>
    </div>
    
   </section> 